// 背景图片
bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url( $url + "@3x.png")

// 锁定图片尺寸
fix-image-size()
  max-width 100%
  max-height 100%

// 多行溢出
mult_line_ellipsis($line=2)
  overflow hidden
  text-overflow ellipsis
  display -webkit-box
  -webkit-line-clamp $line
  -webkit-box-orient vertical

prefix-icon($width=0 ,$height=0 )
  content " "
  position absolute
  left 0
  top 50%
  height $height
  width $width
  transform translateY(-50%)
  background-repeat no-repeat
  background-size contain

// 不换行
no-wrap()
  text-overflow ellipsis
  overflow hidden
  white-space nowrap

// 扩展点击区域
extend-click()
  position relative
  &::before
    content ''
    position absolute
    top -10px
    left -10px
    right -10px
    bottom -10px
